{{ define "main" }}
  {{/* derive reporter slug for per-reporter styling */}}
  {{- $repSlug := "" -}}
  {{- with .Params.reporters -}}
    {{- if gt (len .) 0 -}}
      {{- $repSlug = (index . 0) | urlize -}}
    {{- end -}}
  {{- else -}}
    {{- with .Params.reporter -}}
      {{- $repSlug = . | urlize -}}
    {{- end -}}
  {{- end -}}

  {{ partial "single/single.html" . }}

  <!-- {{ with .Params.reporters }}
  <section class="section">
    <div class="container content">
      <div class="tags">
        {{ range . }}
          <a class="tag rep-chip rep-{{ . | urlize }}" href="{{ (site.GetPage (printf "/reporters/%s" (. | urlize))).Permalink }}">{{ . }}</a>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }} -->

  {{ with .Params.tags }}
  <section class="section rep-{{ $repSlug }}">
    <div class="container content">
      <div class="tags">
        {{ range . }}
          <a class="tag" href="{{ (site.GetPage (printf "/tags/%s" (. | urlize))).Permalink }}">{{ . }}</a>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}


  {{ if .Params.include_footer }}
  {{ partial "footer.html" . }}
  {{ end }}

  {{ if .Params.sidebar }}
  {{ partial "single/sidebar.html" . }}
  {{ end }}

{{ end }}